























































.app-collapse-group[data-v-97eada92] {
    background-color: yellow;
}
.app-collapse-item[data-v-97eada92] {
    background-color: #fff;
}
.app-collapse-item .item-summary[data-v-97eada92],
.app-collapse-item .item-detail[data-v-97eada92] {
    width: 100%;
    padding: 12px 20px;
}

