<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siebel OpenUI devtools</title>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <template v-if="appExists">
            <div class="container devtools-container">
                <div class="row">
                    <div class="col devtools-panel">
                        <div class="devtools-subpanel">
                            <div class="panel-header">
                                <h2>Applets</h2>
                            </div>
                            <div class="panel-applet">
                                <input type="text" v-model="appletQuery" class="form-control" placeholder="Search by id, eg: S_A1">
                                <div>
                                    <details v-for="applet in filteredApplets">
                                        <summary>{{applet.name}}</summary>
                                        <ul>
                                            <li>FullId : <span class="badge badge-primary">#{{applet.fullId}}</span></li>
                                            <li><a href="#" @click="displayAppletControls(applet)">See controls</a></li>
                                            <li><a href="#" @click="inspectApplet(applet)">Inspect</a></li>
                                        </ul>
                                    </details>
                                </div>
                            </div>
                        </div>
                        <div class="devtools-subpanel">
                            <div class="jumbotron">
                                <h1 class="display-4">{{viewName}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col devtools-panel">
                        <div class="devtools-subpanel">
                            <div class="panel-header">
                                <h2>Controls</h2>
                            </div>
                            <div>
                                <details v-for="control in controls">
                                    <summary>{{control.name}}</summary>
                                    <ul>
                                        <li>Input name : <span class="badge badge-secondary">{{control.inputName}}</span></li>
                                        <li>Display name : <span class="badge badge-secondary">{{control.displayName}}</span></li>
                                        <li><a href="#" @click="inspectControl(control)">Inspect</a></li>
                                    </ul>
                                </details>
                            </div>
                        </div>
                        <div class="devtools-subpanel">
                            <div class="panel-header">
                                <h2>Record set</h2></div>
                            <div>
                                <pre><code>{{recordSet}}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <script src="scripts/lib/vue.js"></script>
    <script src="scripts/app/app.js"></script>
</body>

</html>
